<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
  
    <h1>add user </h1>
    <form action="/" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>
        
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required><br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        
        
        <input type="file" name="file">
        
        <button type="submit">Add User</button>
    </form>


    <h1>Upload Image</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        
    </form>

    <h1>Display Image</h1>
    <form action="/image" method="get">
        <input type="text" name="image_id" placeholder="Enter Image ID">
        <input type="submit" value="Display">
    </form>


      <h1>List of Users</h1>
    <table border="1">
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.user_id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
